node_clipboard.txt
[{"id":"2d5e94f1.8de204","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"39813d94.28e432","type":"udp in","z":"2d5e94f1.8de204","name":"","iface":"","port":"9200","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":300,"y":260,"wires":[["e081b4b4.b9d768","96c1f02a.ea3ca"]]},{"id":"e081b4b4.b9d768","type":"debug","z":"2d5e94f1.8de204","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":320,"wires":[]},{"id":"96c1f02a.ea3ca","type":"file","z":"2d5e94f1.8de204","name":"","filename":"/home/pi/prosjekt/test.log","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":510,"y":260,"wires":[["e92141a1.52a45","9fffddae.d273d8"]]},{"id":"e92141a1.52a45","type":"debug","z":"2d5e94f1.8de204","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":320,"wires":[]},{"id":"9fffddae.d273d8","type":"e-mail","z":"2d5e94f1.8de204","server":"smtp-mail.outlook.com","port":"587","secure":false,"tls":true,"name":"143972@usn.no","dname":"","x":750,"y":260,"wires":[]}]
